.navbar{
    background-color: whitesmoke;
}
.b1{
    height: 50rem;
    width: 100%;
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
}
#loader{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333333;
}
#mainnn{
    display: none;
}
.Majestic{
    font-weight: bold;
    font-size: 3rem;
    position: absolute;
    margin-top: 18rem;
    margin-left: 25rem;
    color: white;
}
.par{
    color: white;
    font-weight: bold;
    position: absolute;
    margin-top: 22rem;
    margin-left: 25rem;
    letter-spacing: 1.4rem
    
}
.Contact{
    position: absolute;
    margin-top: 24rem;
    margin-left: 25rem;
    ;
}
#sec{
    height: 8rem;

}
.c1{

    margin-top: 5rem;

}
p{
    margin-top: 4rem;
}
.con1{
    width: 100px;
    border: 2px solid #b71c1c;
}
.p1{
    display: flex;
    gap: 2rem;
    width: 100%;
    
    margin-top: 4rem;
}
.fa{
    color: red;
}
.p2{
    width: 100%;
    height: 35rem;
    display: flex;
}
.div2{
    position:absolute ;
    background-image: url(pexels-dima-valkov-1186343-5646812.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 35rem;

}
.div3{
    text-align: justify;
    position: absolute;
    background-color: #b71c1c;
    width: 60%;
    height: 35rem;
    margin-left: 40rem;
}
.div4{
    margin-top: 4rem;
    background-color: rgb(110, 108, 108);
color: white;
height: 55rem;
width: 100%;
}

.latest1{
    margin-top: 6rem;
    display: flex;
}
.latesth2{
    margin-left: 33rem;
    margin-top: 4rem;
    position: absolute;
}
.im1{
    height: 25rem;
    width: 25rem;
    background-image: url(pexels-dima-valkov-1186343-5646812.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 2rem;
}

.im2{
    height: 25rem;
    width: 25rem;
    background-image: url(pexels-dariabuntaria-5004859.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 2rem;
}
.im3{
    height: 25rem;
    width: 25rem;
    background-image: url(pexels-bertellifotografia-17023018.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 2rem;
}
.im4{
    height: 25rem;
    width: 25rem;
    background-image: url(pexels-amar-14716282.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 2rem;
}

.container2{
    margin-top: 4rem;
}
.container2 h1 {
    margin-bottom: 15px;
    justify-content: center;
}
.container2 hr {
    width: 130px;
    border: 1.4px solid #b71c1c;
   justify-content: center;
   margin-bottom: 1.5rem;
}
.container2 p {
    font-size: 1rem;
    color: #333333;
    margin-bottom: 2.5rem;
}


.card {
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 8px;
    padding: 20px;
    width: 30%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
}
.card i {
    font-size: 2em;
    color: #b71c1c;
}
.card h3 {
    
    margin: 15px 0;
}
.card p {
    color: black;
    font-size: 0.9em;
    line-height: 1.6;
}
.card a {
    color: #b71c1c;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
}
.card a i {
    margin-left: 5px;
}

.container3 {
    display: flex;
    justify-content: space-between;
    width: 80%;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    
}
.div5{
    position: absolute;
    padding: 20px;
      background-color: black;
      color: white;
      width: 100%;
      display: flex;
      gap: 20rem;
    }
    .choose{
        margin-top: 5rem;
        display: flex;
        width: 100%;
        background-color: #1d1c1c;
        gap: 2rem;
        color: white;
       
    }
    .chimg1{
        margin-left: 2rem;
        width: 30%;
        height: 20rem;
        background-color: #333333;
    }
    .chimg2{
        width: 30%;
        height: 20rem;
        background-color: #333333;
    }
    .chimg3{
        width: 30%;
        height: 20rem;
        background-color: #333333;
    }
    .choose p{
        margin-left: 1rem;
        text-align: justify;
        color: #666;
        margin-left: 2rem;
    }
    .choose h4{
        
        margin-top: 1rem;
        margin-left: 2rem;
        text-align: justify;
    }
    button{
        background-color: red;
        color: white;
    }
    .p3{
        font-size: x-small;
        color: #b71c1c;
    }
    .b2{
        background-image: url(pexels-bertellifotografia-17023032.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        width: 100%;
        height: 40rem;
    }
    .rating{
        color: white;
        display: flex;
        width: 100%;
        height: 5rem;
        background-color: red;
        gap: 10rem;
    }
    .ads{
    background-image: url(ads.jpg);
background-repeat: no-repeat;
background-size: cover;
        display: flex;
       
        width: 100%;
        gap: 10rem;
    }
    .ads1{
        border: 8px solid rgb(247, 244, 244);
        width: 13%;
        height: 8rem;
        background-color: white;
        margin-top: 8rem;
        margin-left: 5rem;

    }
    .ads2{
        border: 8px solid rgb(247, 244, 244);
        width: 13%;
        height: 8rem;
        background-color: white;
        margin-top: 8rem;
        margin-left: 5rem;

    }
    .ads3{
        border: 8px solid rgb(247, 244, 244);
        width: 13%;
        height: 8rem;
        background-color: white;
        margin-top: 8rem;
        margin-left: 5rem;
       
    }
.ads i{
    color: red;
    size: 3rem;
    margin-top: 1rem;
}
  .footer{
    display: flex;
    height: 5rem;
    width: 100%;
    background-color: black;
    color: white;
    gap: 19rem;
  }  
  .buts{
    text-orientation: upright;
    writing-mode: vertical-rl;
    position: fixed;
    z-index: 1;
  }
@media (max-width: 414px){
    .navbar{
        width: 100%;
    }
    .b1{
        width: 100%;
    }
  
    .maj{
       display: none;
    }
    .par{
       position: absolute;
        margin-left: 1rem;
        letter-spacing: 0.4rem;
    }
    .Contact{
        margin-left: 2rem;
     
    }
    .navbar{
        width: 19rem;
        font-size:0.5rem ;
    }
    #sec{
        width: 19rem;
    }
    .p1{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 3rem;
        width: 90%;
        margin-left: 2rem;

    }
    .div2{
        display: none;

    }
    .div3{
        margin-left: 0.1rem;
        width: 100%;
    }
    .div4{
      display: none;

    }
    .latest1{
        margin-top: 6rem;
        display: grid;
    }
    .latesth2{
        margin-left: 3rem;
        margin-top: 4rem;
        position: absolute;
    }

    .container2{
        display: grid;
        position: absolute;
        margin-top: 4rem;
    width: 100%;
    }
   
    .container3{
        position: absolute;
        display: grid;
    }
    .card{
        width: 100%;
    }
    
    .choose{
        display: grid;
        width:100% ;
        margin-top: 94rem;
    }
    .chimg1{
        width: 100%;
        height: 20rem;
        background-color: #333333;
    }
    .chimg2{
        width: 100%;
        height: 20rem;
        background-color: #333333;
    }
    .chimg3{
        width: 100%;
        height: 20rem;
        background-color: #333333;
    }
    .choose p{
        margin-left: 1rem;
        text-align: justify;
        color: #666;

    }
    .choose h4{
        margin-top: 1rem;
        margin-left: 2rem;
        text-align: justify;
    }
    .container4{
        margin-top: 15%;
    }
    .div5{
        margin-top:80rem;
        display: grid;
        gap: 2rem;

    }
    .b2{
        background-image: url(pexels-bertellifotografia-17023032.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 20rem;
    }
    .rating{
        font-size: 0.5rem;
        position: absolute;
        color: white;
        display: flex;
        width: 100%;
        height: 5rem;
        background-color: red;
        gap: 1rem;
        margin-left: 0.1rem;
    }
    .ads{
        background-image: url(ads.jpg);
    background-repeat: no-repeat;
    background-size: cover;
            display: grid;
            width: 100%;
            gap: 1rem;
        }
        .ads1{
            border: 8px solid rgb(247, 244, 244);
            width: 50%;
            height: 8rem;
            background-color: white;
            margin-top: 6rem;
            margin-left: 5rem;
    
        }
        .ads2{
            border: 8px solid rgb(247, 244, 244);
            width: 50%;
            height: 8rem;
            background-color: white;
            margin-top: 2rem;
            margin-left: 5rem;
    
        }
        .ads3{
            border: 8px solid rgb(247, 244, 244);
            width: 50%;
            height: 8rem;
            background-color: white;
            margin-top: 2rem;
            margin-left: 5rem;
           
        }
    .ads i{
        color: red;
        size: 3rem;
        margin-top: 1rem;
    }
    .footer{
        display: none;
       
      }  
}


    .b1{
        width: 100%;
        height: 40rem;
        animation-name: b1;
        animation-duration: 10s;
        animation-iteration-count: infinite;
    }
    @keyframes b1{
        0%{
            background-image: url('pexels-liz-henderson-1585908276-28113394.jpg');
        }
        25%{
            background-image: url('pexels-bertellifotografia-17023021.jpg');
        }
        50%{
            background-image: url('pexels-bertellifotografia-17023005.jpg');
        }
        75%{
            background-image: url('pexels-juliano-astc-1623739-17931472.jpg');             
        }
        100%{
            background-image: url('pexels-liz-henderson-1585908276-28113394.jpg');
        }
    }